@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +55 (11) 99407-6668
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:fabriciogs@gmail.com">fabriciogs@gmail.com</a><br />
</address>